
body{
    width: 100%;
    font-family:  'Open Sans', sans-serif;
    margin-top: -17px;
    margin-left: 0;
    background-image: url(../images/body\ bg.jpg);
}
.container{
    margin-left: 150px;
}
/* top nav */
.top-nav li{
    font-size: 14pt;
    float: left;
    margin-left: 25px;
    list-style: none;
    padding-top: 10px;
    display: block;
}
.menu{
    background-color: #709b1d;
}
.language{
    width: 100px;
    height: 40px;
    margin-left: 310px;
    border-bottom-right-radius: 8%;
    border-bottom-left-radius: 8%;
    color: #709b1d;
}
.top-nav{
    margin-left: 90px;
}
.top-nav a:hover{
    background-color: white;
    color: #709b1d;
    padding: 5px 5px 5px 5px;
    border-radius: 5%;
}
.doller{
    width: 100px;
    height: 40px;
    border-bottom-right-radius: 8%;
    border-bottom-left-radius: 8%;
    color: #709b1d;
}
.top-nav a{
    text-decoration: none;
    color: white;
}
.active{
    background-color: white;
    color: #709b1d;
}
*, :after, :before {
    box-sizing: border-box;
}
/* sec-nav */
.sec-nav{
    margin-bottom: 15px;
    height: 70px;
}
.lo{
    color: #709b1d;
    font-size: 40pt;
}
.go{
    font-size: 40pt;
}
.logo{
    margin-left: 153px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    
}
.login{
    float: right;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-right: 180px;
    font-size: 11pt;
    position: relative;
}
.log{
    color: #709b1d;
}
.cart{
    color: white;
    border-radius: 15%;
    padding: 4px;
    background-color: #709b1d;
    font-size: 14pt;
}
.buttons button{
    margin-top: 10px;
    background: transparent;
    border: none;
    color: #709b1d;
    margin-left: 35px;
}
.buttons{
    margin-left: 115px;
    display: inline-block;
    margin-bottom: 5px;
}
.search{
    border: none;
    width: 270px;
    height: 25px;
    margin-left: 20px;
    border-radius: 5%;
}
.ter-nav{
    background-color: #f3f3f3;
}
.khoj{
    color: white;
    border-radius: 15%;
    padding: 4px;
    background-color: #709b1d;
    font-size: 10pt;
}
.buttons button:hover{
    transition-duration: 0.4s;
    background-color: #709b1d;
    color: white;
    border-radius: 5%;
}
.buttons button.active-btn{
    background-color: #709b1d;
    color: white;
}
.bg-img img{
    width: 100%;
    position: absolute;
}
.mobile{
    margin-left: 220px;
    position: relative;
}
.primo{
    margin-left: 525px;
    margin-top: -480px;
    position: relative;
}
.born{
    position: relative;
    background-color: #93ba73;
    opacity: 80%;
    padding-left: 8px;
    font-size: 14pt;
    color: white;
    letter-spacing: 0.6rem;
    margin-top: -150px;
    width: 378px;
    margin-left: 580px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 78px;
}
.slider-dots button{
    margin-top: -45px;
    cursor: pointer;
    font-size: 0;
    opacity: 1;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
.slider-dots li.slick-active button{
    width: 18px;
    background-color: #4b6e08;
}
/* card */
.card{
    background-color: #709b1d;
    margin-top: -29px;
    padding-top: 15px;
    padding-bottom: 80px;
}
.card button{
    float: left;
    background-color: #83b228;
    border: none;
    margin-left: 50px;
}
.card i{
    font-size: 30px;
    color: aliceblue;
}
.card button:first-child{
    margin-left: 220px;
    padding: 10px 20px 10px 10px;
}
.card button:nth-child(2){
    padding: 10px 25px 10px 15px;
}
.card button:nth-child(3){
    padding: 10px 35px 10px 25px;
}
.card button:nth-child(4){
    padding: 10px 20px 10px 10px;
}
.pagination li{
    float: left;
    list-style: none;
    margin-left: 25px;
    font-size: 18pt;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    margin-top: 10px;
}
.pagination{
    background-color: #709b1d;
    display: inline-block;
    margin-left: 150px;
    margin-top: 100px;
}
.pagination li:first-child{
    margin-left: 5px;
    margin-bottom: 10px;
}
.pagination li:nth-child(2){
    margin-left: 200px;
}
.pagination li:nth-child(6){
    margin-left: 200px;
    margin-right: 5px;
}
li.active-pgn{
    background-color: white;
    color: #709b1d;
    padding-bottom: 10px;
}
.pagination li:hover{
    background-color: white;
    color: #709b1d;
    transition: 0.4s;
}
.arrow{
    color: #709b1d;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
li.active-pgn{
    color: #709b1d;
    background-color: white;
}
.card-wrapper{
    border: 2px solid #efefef;
    width: 270px;
    height: 350px;
    margin-top: 50px;
    padding-bottom: 358px;
    background-color: #efefef;
}
.card-wrapper img{
    width: 266px;
    position: absolute;
}

.smart-phone{
    text-align: center;
    border: 1px solid #c5c5c5;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-top: 264px;
    color: #709b1d;
}
.atc{
    font-size: 16pt;
    color: #709b1d;
    float: left;
    margin-top: 15px;
    margin-left: 12px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 10%;
}
.atc1{
    font-size: 16pt;
    color: #709b1d;
    float: left;
    margin-top: 15px;
    margin-left: 12px;
    background-color: white;
    padding-left: 12px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
}
.dollarx{
    font-size: 18pt;
    margin-left: 55px;
    margin-top: 13px;
}
.star{
    color: white;
}
.star span{
    margin-left: 60px;
}
.star i{
    margin-left: 5px;
    background-color: #709b1d;
    margin-top: 5px;
    padding: 2px 2px 2px 2px;
    border-radius: 10%;
}
.card-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.align-o{
    margin-right: 195px;
}
.align-s{
    margin-left: 75px;
}
.card-wrapper:hover .card-hover{
    opacity: 0;
}
.cart-hov{
    margin-top: -65px;
    opacity: 0;
}
.card-wrapper:hover .cart-hov{
    opacity: 1;
}
.card-wrapper:hover{
    border: 2px solid #709b1d;
    background-color: #709b1d;
}
.count-bg{
    margin-left: 180px;
    margin-top: 100px; 
    position: absolute;
}
.discount{
    border: 2px solid #709b1d;
    background-color: #709b1d;
    padding: 30px 30px 30px 30px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-top: 120px;
    margin-left: 475px;
}
.off{
    color: #709b1d;
    font-size: 60pt;
    position: relative;
    margin-left: 670px;
    margin-top: -130px;
}
.walton{
    font-size: 23pt;
    position: relative;
    margin-left: 675px;
    margin-top: 10px;
}
.packed{
    color: #709b1d;
    position: relative;
    font-size: 17pt;
    margin-left: 675px;
    margin-top: 25px;
}
.core{
    position: relative;
    font-size: 12pt;
    color: #797979;
    margin-left: 675px;
    margin-top: 25px;
}
.leaf{
    margin-top: 250px;
    
}
.leaf img{
    width: 1348px;
    position: relative;
    position: absolute;
}
.subscribe{
    font-size: 30pt;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 50px;
}
.sub-c{
    color:white; 
    text-align:center;
    position: relative;
    padding-top: 10px;
    font-size: 15px;
}
.email{
    text-align: center;
    position: relative;
    padding-top: 30px;
    margin-left: -118px;
    
}
.email input{
    width: 300px;
    height: 38px;
    border: 2px solid #4b6e08;
    background-color: #d5e1bd;
    font-size: 16px;
}
.lets{
    text-align: center;
    position: relative;
    padding: center;
    margin-top: -38px;
    margin-left: 300px;
}
.lets input{
    height: 38px;
    width: 120px;
    border: 2px solid #4b6e08;
    background-color: #d5e1bd;
    padding-left: 18px;
    font-size: 20px;
}
.pagination1 li{
    float: left;
    list-style: none;
    margin-left: 25px;
    font-size: 18pt;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    margin-top: 10px;
}
.pagination1{
    background-color: #709b1d;
    display: inline-block;
    margin-left: 150px;
    margin-top: 100px;
}
.pagination1 li:first-child{
    margin-left: 5px;
    margin-bottom: 10px;
}
.pagination1 li:nth-child(2){
    margin-left: 420px;
}
.pagination1 li:nth-child(3){
    margin-left: 10px;
    margin-right: 5px;
}
.pagination1 li:hover{
    background-color: white;
    color: #709b1d;
    transition: 0.4s;
}
.arrow2{
    color: #709b1d;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
li.active-pgn-o{
    color: #709b1d;
    background-color: white;
    margin-right: 410px;
    padding-bottom: 10px;
}
.brand{
    text-align: center;
}
.brand button{
    background-color: #709b1d;
    border: none;
    color: white;
    margin-top: 100px;
    font-size: 18pt;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border-radius: 3%;
}
.logos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.logos img{
    margin-top: 40px;
    width: 130px;
    border: 2px solid #c5c5c5;
    height: 50px;
    cursor: pointer;
}
.logos img:first-child{
    margin-left: 150px;
    padding: 5px 5px 5px 5px;
}
.logos img:nth-child(2){
    margin-left: 40px;
    padding: 8px 8px 8px 8px;
}
.logos img:nth-child(3){
    margin-left: -3px;
    padding: 2px 2px 2px 2px;
}
.logos img:nth-child(4){
    margin-left: -45px;
    padding: 5px 5px 5px 5px;
}
.logos img:nth-child(5){
    margin-left: -80px;
}
.logos img:nth-child(6){
    margin-left: -118px;
}
.logos img:hover{
    border: 2px solid #709b1d;
    transition: 0.4s;
}
.footer{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
}
.info ul{
    list-style: none;
    margin-left: -40px;
}
.info{
    margin-left: 150px;
}
.info li{
    margin-top: 10px;
    font-size: 8pt;
    color: #434343;
}
.footer div:nth-child(3){
    position: absolute;
    margin-left: 700px;
}
.footer div:nth-child(2){
    position: absolute;
    margin-left: 400px;
}
.footer div:nth-child(4){
    position: relative;
    margin-left: 700px;
}
.footer2{
    padding-top: 10px;
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
}
.we{
    margin-left: 200px;
    font-size: 12pt;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
    background-color: #709b1d;
    border: 1px solid #4b6e08;
    color: white;
    border-radius: 5%;
}
.follow{
    font-size: 12pt;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
    background-color: #709b1d;
    border: 1px solid #4b6e08;
    color: white;
    border-radius: 5%
}
.footer2 div:nth-child(4){
    margin-left: -200px;
}
.footer2 img{
    margin-left: 8px;
} 
.footer3{
    text-align: center;
    background-color: #709b1d;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 12pt;
}